{% include "index.html" %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Bar Sold List</h2>
    <form method="GET" class="mb-3">
        <div class="form-inline mb-4">
            <input type="text" name="q" class="form-control mr-sm-2" placeholder="Enter a search name">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            &nbsp;
            <a href="{% url 'bar_sold_list' %}"><button class="btn btn-outline-primary my-2 my-sm-0"
                    type="submit">Reset</button>
            </a>
        </div>
    </form>
    {% for month, bar_solds in grouped_bar_solds.items %}
    <h3>{{ month }}</h3>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            {% for bar_sold in bar_solds %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ bar_sold.product_name }}</td>
                <td>{{ bar_sold.date|date:"d/m/Y" }}</td>
                <td>{{ bar_sold.price }} $</td>
                <td>{{ bar_sold.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

<br>
<br>

{% endblock content %}