{% include "index.html" %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Student List</h2>
    <form method="GET" class="mb-3">
        <div class="form-inline mb-4">
            <input type="text" name="q" class="form-control mr-sm-2" placeholder="Axtarış adını daxil edin">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Axtar</button>
            &nbsp;
            <a href="{% url 'student_list' %}"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sıfırla</button>
            </a>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Registration Date</th>
                <th scope="col">Months Duration</th>
                <th scope="col">Trainer</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.full_name }}</td>
                <td>{{ student.registration_date|date:"d/m/Y" }}</td>
                <td>{{ student.months_duration }}</td>
                <td>{{ student.trainer }}</td>
                <td>
                    <a href="{% url 'update_student' student.pk %}" class="btn btn-sm btn-info">Edit</a>
                    <a href="{% url 'delete_student' student.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>
{% endblock content %}