{% include "index.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Student List by Month</h2>
    
    {% for month, students in grouped_students.items %}
        <h3>{{ month }}</h3>
        <table class="table text-center mb-5">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Registration Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Months</th>
                    <th scope="col">Trainer</th>
                    <th scope="col">Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr class="{% if student.end_date == today %}end-date-today{% elif student.end_date < today %}end-date-past{% endif %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student.full_name }}</td>
                        <td>{{ student.registration_date|date:"d/m/Y" }}</td>
                        <td>{{ student.end_date|date:"d/m/Y" }}</td>
                        <td>{{ student.months_duration }}</td>
                        <td>{{ student.trainer }}</td>
                        <td>{{ student.payment }} $</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock content %}
